$grey-100: rgba(0,0,0,1);
$grey-90: rgba(0,0,0,.9);
$grey-80: rgba(0,0,0,.8);
$grey-70: rgba(0,0,0,.7);
$grey-60: rgba(0,0,0,.6);
$grey-50: rgba(0,0,0,.5);
$grey-40: rgba(0,0,0,.4);
$grey-30: rgba(0,0,0,.3);
$grey-20: rgba(0,0,0,.2);
$grey-10: rgba(0,0,0,.1);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

.inner {
    width: 100%;
    max-width: 100rem;
    padding-left: 8rem;
    padding-right: 8rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.search-bar {
    width: 100%;
    background-color: $grey-40;
    color: white;
    padding: 2rem 0;

    form {
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    label {
        flex:1 0 0;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .search-input {
        position: relative;
        flex:3 0 0;
    }
}


input[type=search] {
    width: 100%;
    padding: 1em;
    position: relative;
    top: 0;
}

input[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 6em;
    padding: 0;
    cursor: pointer;
    flex:1 0 90px;
}

.nav-wrap {
    text-align: right;
    margin-left: auto;
}

header {
    position: relative;

    ul {
        list-style-type: none;
        margin-left: auto;
        margin: 0;
        padding: 0;
        font-size: 0;
    }

    ul > li {
        display: inline-block;

        .link--more {
            position: absolute;
            top: 0;
            right: 8rem;
            background-color: cornflowerblue;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            padding: 1rem 2rem;
            color: $grey-60;
            font-size: 1.1rem;
            font-weight: 600;

            &:hover {
                color: $grey-30;
            }

            &.link--active {
                text-decoration: underline;
            }
        }
    }

    ul > li > ul {
        background-color: $grey-20;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 100%;
        padding: 0 8rem 0 7rem;
        overflow-y: hidden;
        text-align: left;

        &:before {
            content: '';
            display: block;
            float: right;
            width: 5rem;
            height: 100%;
        }

        a {
            text-transform: none;
            font-weight: 400;
            padding: 1rem;
            font-size: 0.9rem;
        }
    }

    .quicklinks {
        display: flex;
        justify-content: flex-end;

        > * {
            background-color: $grey-10;
        }
    }
}

@media (max-width: 1279px) and (min-width: 767px) {

    .inner {
        padding: 0 2rem;
    }

    header {
        ul > li {
            .link--more {
                right: 2rem;
            }
        }

        ul > li > ul {
            padding: 0 2rem 0 1rem;
        }
    }

}

@media only screen and (max-width: 768px) {

    .inner {
        padding: 0;
        flex-direction: column;
    }

    .nav-wrap {
        margin: 0;
        width: 100%;

        nav {
            width: 200vw;
            position: relative;
            transition: .5s ease-in-out;

            ul {
                width: 100vw;
            }
        }

        nav.menu--active {
            transform: translateX(-50%);
        }
    }

    .nav-left {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .quicklinks {
        width: 100%;

        .service-menu {
            width: 100%;
            display: flex;
            justify-content: space-around;

            a {
                padding: 1rem 0;
            }
        }
    }

    header {

        .tools {
            display: none;
        }

        ul > li {
            display: block;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                margin: 0 auto;
                padding-left: 4rem;
            }

            a.mobile--more {
                border: 3px solid black;
                margin: 0;
                padding: 0 0.5rem;
                display: inline-block;
                width: 2rem;
                height: auto;
                transform: translateX(-1rem);
            }
        }

        ul > li > ul {
            // position: relative;
            padding: 0;
            top: 0;
            left: 50%;

            &:before {
                display: none;
            }
        }
    }
}
